*{
    background-color: #fff;
    font-family: Helvetica, Arial, sans-serif;
}

.titul{
    position:absolute;
    right:0;
}

.titul>div{
    
    display: inline-block;
    vertical-align: top;
    right: 0;
    padding-left: 150px;
    font-size: small;
    font-weight: 100;
    padding-right:50px;
    
    
}





/*JAcques*/
.titulo-container{
    position: absolute;
    top: 119px;
    left: 100px;
    width: 550px;
    height: 34px;
    line-height: 130%;
    font-weight: 600;
    display: inline-block;
    font-size: x-large;
    transform: rotate(180deg);
}

/*La esencia de lo inalcanzable*/

.frame4{
    position:absolute;
    top: 174px;
    left: 10px;
    line-height: 130%;
    font-weight: 300;
    display: inline-block;
    height: 2px;

}

/*Parrafo con un ojo*/

.frame6{
    position: absolute;
    top: 154px;
    left: 250px;
    width: 300px;
    line-height: 130%;
    font-size:small;
    display: inline-block;
    height: 67px;
    font-size:0.3cm;

}

/*Compromiso*/

.frame7{
    position: absolute;
    top: 360px;
    left: 570px;
    width: 250px;

}

/*Parrafo de compromiso*/

.frame9{
    position: absolute;
    top: 400px;
    left: 541px;
    width: 350px;
    font-size:0.3cm;
    

}

/*La esencia de lo inalcanzable*/
.frame4{
    position: absolute;
    top: 360px;
    left: 70px;
    width: 250px;
}

/*PArrafo de lo inalcanzable*/

.frame8{
    position: absolute;
    top: 399px;
    left: 50px;
    width: 290px;
    font-size: small;
    font-size:0.3cm;

}

.frame10{
    position:absolute;
    top:650px;
    left: 300px;
    font-weight: 900;
}

/*slogan*/
.frame12{
    position:absolute;
    bottom:0;
    font-size: small;

}

.frame11{
    position:absolute;
    top:700px;
    left: 410px;
    font-weight: 900;

}

.vertical-bar{
    position:absolute;
    width: 1px; 
    height: 250px;
    background-color:black;
    top:290px;
    left: 450px;



}

.frame5-imagen-fondo{
    position: absolute;
    right:0px;
    height: 20px;
    top:70px;
}

.fondo{
    height: 720px;
}

