*{
    background-color: black;
}

.head{
    position:absolute;
    right:0;
    background-color: #FFFFFF;
    width:1500px;
    height: 100px;

}

.head>div{

    position: relative;
    left: 600px;
    display: inline-block;
    vertical-align: top;
    background-color: #FFFFFF;
    right: 0;
    padding-left: 150px;
    font-size: small;
    font-weight: 100;
    padding-right:50px; 
    font-size: large;
}

.catalogo{
    background-color: #FFFFFF;
}

.container-main{
    position: absolute;
    background-color: aqua;
    padding:0;
    margin:0;
    left:0;
    right:0;
    top:110px;
    height: 400px;
}

.titulo-contain{
    position:relative;
    background-color: greenyellow;
    top: 10px;
    width: 400px;
    height: 100px;
    color:black;
    width: 30px;
    left:30px;

}

.impossible{
    background-color: green;
    font-size: 0.75cm;

}

.container-parr1{
    position:relative;
    width:400px;
    font-size:0.3cm;
    width: 250px;
    left: 15px;
    background-color: blueviolet;
}

.container{
    background-color: blueviolet;
}

.container-parr2{
    position:relative;
    width:250px;
    font-size:0.3cm;
    left:15px;
    background-color: blueviolet;
}

.container-parr3{
    position:relative;
    display: inline-block;
    width:400px;
    top:89px;
    left: 15px;
    background-color: blueviolet;
}

.container1{
background-color: blueviolet;
}

.container2{
    background-color: blueviolet;
}

.container3{
    background-color: blueviolet;
}


.containerr3{
    background-color: blueviolet;
    margin-left: 50px;
}

.container-second{
    position:relative;
    top: 535px;
    height:250px;
    background-color: orange;
    margin:0;
    padding:0;
    color:#FFFFFF;
    
    
}

.container-parr4{
position: relative;
background-color: aquamarine;
width: 340px;
height:300px;
padding:0;
margin:0;
display: inline-block;
left:0;

}



.tendor {
    width: 340px;
    height:300px;
}

.container-parr5{
    position: relative;
    background-color: red;
    width: 340px;
    height:300px;
    display: inline-block;
    padding:0;
margin:0;
}

.bici{
    width: 340px;
    height:300px;

}

.container-parr6{
 position: relative;
 background-color: red;
 width: 350px;
 height:300px; 
 display: inline-block;
 padding:0;
margin:0;
}

.cuadro{
    width: 340px;
    height:300px;
}

.container-parr7{
    position: relative;
    background-color:pink;
    width: 340px;
    height:300px; 
    display: inline-block;  
    padding:0;
    margin:0;  
   }

.pintura{
    width: 340px;
    height:300px;
}

.container-second>div>b{
    position: relative;
    left: 140px;
    background-color: transparent;
}

.fondo2{
    position:absolute;
    width: 1440px;
    height: 404px;
}

.bar{
    position: absolute;
    width: 1440px;
    height: 404px;
    top: -3px;
    left: 0px;
    

}
   